//color var
$purple: #4a0594;
$white: #ffffff;


//fonts var
$font:"Roboto", "Arial", sans-serif;
$font-normal: 400;
$font-bold: 700;


//media var
$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1150px;
