//color var
$purple: #4a0594;
$middle-purple: #5a39a7;
$light-purple: #694caf;
$gold: #ffaa30;
$white: #ffffff;
$black: #000000;
$light-black: #222222;
$grey: #bbbcc4;
$light-grey: #e6ecf2;


//fonts var
$font:"Roboto", "Arial", sans-serif;
$font-normal: 400;
$font-bold: 700;


//media var
$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1150px;
