.main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;

    &__link {
        width: 25%;
        height: 85px;
        padding: 14px 60px 17px 27px;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: $purple;
        color: $white;
        text-decoration: none;
        background-repeat: no-repeat;

        &--review {
            background-image: url('img/chat.svg');
            background-position: 206px 20px;
            background-size: 41px 41px;
        }

        &--non-answer-review {
            background-image: url('img/chat_2.svg');
            background-position: 205px 20px;
            background-size: 41px 41px;
        }

        &--refresh {
            background-image: url('img/arrow.svg');
            background-position: 204px 17px;
            background-size: 39px 39px;
        }

        &--rating {
            background-image: url('img/star.svg');
            background-position: 202px 18px;
            background-size: 38px 38px;
        }

        &:hover,
        &:focus {
            background-color: $light-purple;
        }

        &:active {
            background-color: $middle-purple;
        }
    }

    &__text-number {
        display: block;
        @include set-font (25px, $font-bold);
        line-height: 35px;
    }

    &__text {
        @include set-font (12px, $font-normal);
        line-height: 20px;
    }

    @media (min-width: $desktop-width) {

        &__link {
            max-width: 261px;
        }
    }

    @media (max-width: $desktop-width) {
        flex-wrap: wrap;

        &__link {
            width: 49%;
            margin-bottom: 20px;
            background-position-x: 90%;
        }
    }

    @media (max-width: $tablet-width) {
        &__link {
            width: 100%;
            min-width: 278px;
            margin-bottom: 10px;
            height: 34px;
            padding: 7px 30px 7px 7px;
            background-position: 90% 0;
            background-size: contain;
        }

        &__text-number {
            font-size: 14px;
            line-height: 16px;
            display: inline-block;
        }

        &__text {
            font-size: 12px;
            line-height: 14px;
        }
    }

}