.main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__link {
        width: 25%;
        max-width: 261px;
        height: 85px;
        padding: 14px 60px 17px 27px;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: $purple;
        color: $white;
        text-decoration: none;
        background-repeat: no-repeat;

        &--review {
            background-image: url('img/chat.svg');
            background-position: 206px 20px;
            background-size: 41px 41px;
        }

        &--non-answer-review {
            background-image: url('img/chat_2.svg');
            background-position: 205px 20px;
            background-size: 41px 41px;
        }

        &--refresh {
            background-image: url('img/arrow.svg');
            background-position: 204px 17px;
            background-size: 39px 39px;
        }

        &--rating {
            background-image: url('img/star.svg');
            background-position: 202px 18px;
            background-size: 38px 38px;
        }
    }

    &__text-number {
        display: block;
        @include set-font (25px, $font-bold);
        line-height: 35px;
    }

    &__text {
        @include set-font (12px, $font-normal);
        line-height: 20px;
    }

}