.promo-markets {

    &__list {
        padding: 0;
        margin: 0;
        width: 100%;
        list-style-type: none;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}